.all-anime-list-container {
  width: 1033px;
  margin-left: 12px;
}

.top-header {
  font-weight: 700;
  font-size: 18px;
  color: rgb(224, 224, 224);
  position: relative;
}

.top-header > span {
  font-weight: 400;
  font-size: 10px;
  margin-left: 20px;
}
.top-header > span > a {
  color: rgb(171, 196, 237);
  text-decoration: none;
  transition: text-decoration 0.70s;
}
.top-header > span > a:hover {
  text-decoration: underline;
}

.next-button {
  position: absolute;
  right: 0;
  background-color: rgb(79, 116, 200);
  color: rgb(224, 224, 224);
  border: none;
  font-size: 11px;
  padding: 4px;
  border-radius: 1px;
}

table {
  margin-top: 4px;
  width: 1035px;
  border-collapse: collapse;
}
table > thead > tr > td {
  background-color: #333;
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: rgb(224, 224, 224);
  border: #333 0 solid;
  line-height: 18px;
}
.rank {
  border-left: #333 1px solid;
  border-right: #121212 1px solid;
  width: 74px;
}
.title {
  border-right: #121212 1px solid;
  width: 644px;
}
.score {
  border-right: #121212 1px solid;
  width: 96px;
}
.your-score {
  border-right: #121212 1px solid;
  width: 96px;
}
.status {
  border-right: #333 1px solid;
  width: 122px;
}

