.header-container {
  display: flex;
  align-items: center;
  
}
.header-container > img {
  height:  36px;
  margin-right: 100px;
}
.header-container > button {
  font-family: Avenir, "lucida grande", tahoma, verdana, arial, sans-serif;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  color: rgb(224, 224, 224);
  
}
.login-button {
  background-color: rgb(65, 65, 65);
}
.signup-button {
  background-color: rgb(64, 101, 186);
}